.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height: 150px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: palegoldenrod;
  }